<div class="page" data-page="home">
  <div class="navbar">
    <div class="navbar-inner">
     <div class="center">{{title}}</div>
    </div>
  </div>
<div class="page-content">
  <div data-pagination=".swipper-pagination" data-paginationHide="true" class="swipper-container swipper-init">
   <div class="swipper-pagination"></div>
   <div class="swipper-wrapper">
     <div class="swiper-slide">
       <img src="img/house.png" alt="House">

     </div>
     <div class="swiper-slide">
       <img src="img/home.jpg" alt="Home">

     </div>
     <div class="swiper-slide">
       <img src="img/prepay.png" alt="Pay">
     </div>
     <div class="swiper-slide">
       <img src="img/stroller.png" alt="Stroller">
     </div>
     <div class="swiper-slide">
       <img src="img/sunbed.png" alt="Sunbed">
     </div>
   </div>
  </div>


</div>
</div>
